<h1>Eglise de Fleurance</h1>

<p>
    Un administrateur vous a ajouter à la liste des membres de L'église de fleurance !
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse mail</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heures.
</p>


