{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Register</h1>

    {% include 'flash_messages.html.twig' %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}


        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
