
<div id ="contact-information">
    <h2>Coordonnées</h2>
    <div class = "ml-5 ml-sm-5 ml-md-0 mr-5 mr-sm-5 mr-md-0">
        <p>
            73 rue Jean Jaurès <br>
            32500 Fleurance <br> <br>
            05 62 06 05 37</li> <br>
            daniel.morata@umc-cse.org</li>
        </p>

    </div>


</div>