<div id="map" class="container-fluid-nopadding">
    <div class="row">
        <iframe class="col-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.3459771004177!2d0.6625614174438418!3d43.8486572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12abd5a6b78c5697%3A0x41a5621cfc8228b0!2zw4lnbGlzZSDDiXZhbmfDqWxpcXVlIE3DqXRob2Rpc3Rl!5e0!3m2!1sfr!2sfr!4v1603365043662!5m2!1sfr!2sfr"  height="450" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>