
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1> Prise de contact sur Eglise Fleurance </h1>
        <h2>
            Vous avez reçu un message de <b> {{ contactFormData.name }} </b> sur le site de l'église de Fleurance.
        </h2> <br> <br>
        <p>
            {{ contactFormData.message }}
        </p>

        <p>
            Email destinataire :  {{ contactFormData.email }}
        </p>
    </body>
</html>
