<footer class=" pt-2 text-center">
    <p>
        73 rue Jean Jaurès 32500 Fleurance - 05 62 06 05 37
        <br>
        © 2020 église évangélique de Fleurance -
        <a href="#"> Mention Légales </a>
       - tous droits réservés.
        - <a  href={{ path('app_login') }}>
            {% if app.user %}
                Déconnexion
            {% else %}
                Connexion
            {% endif %}
        </a>
    </p>

 </footer>