{#{% include 'carousel.html.twig' %}#}






<header>
    {% include 'nav.html.twig' %}
    <div class="container-fluid-nopadding">
        <div id="graphic-header" class="row p-0 m-0">
            <div id="main-img" class="p-0 m-0 ">
                <img src="{{ asset('images/main/main.jpg') }}" class="img-fluid"  />
            </div>

        </div>
    </div>



</header>



